fieldset {
	background-color: yellowgreen;
	width: 30%;
}

nav, p, fieldset {
	margin-left: 20px;
}

nav {
	font-size: 2em;
	color: #337ab7;
	text-decoration: underline;
}

fieldset label{
	display: block;
}

.photo {
	background-color: yellowgreen;
	padding: 10px;
	width: 40%;
}
