<!DOCTYPE html>
<html>
<head>
	<title>log in</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link type="text/css" rel="stylesheet"  href="style.css">
</head>
<body>
	<nav><a href="login">Login</a> </nav>
	<p>{{ msg }}</p>
	<form action='/login' method='post'>
		<fieldset>
			<label>
				Username:
				<input type="text" name="username">
			</label>
			<label>
				Password:
				<input type="password" name="password">
			</label>
			<label>
				Phone:
				<input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" name='phone'>
			</label>
			<input type="submit" value="log in">
		</fieldset>

	</form>
</body>
</html>